<mat-toolbar>Locale daterangepicker</mat-toolbar>
<div class="row">
    <div class="col s6">
        <input
            type="text"
            ngxDaterangepickerMd
            [(ngModel)]="selected"
            class="form-control"
            placeholder="Choose date"
            [showCustomRangeLabel]="true"
            [ranges]="datesRanges"
            [alwaysShowCalendars]="true"
            [locale]="{ locale, applyLabel: 'Ack', displayFormat: 'YYYY MMM DD', separator: ' :: ' }" />
    </div>
</div>
