<div class="row">
    <div class="col s12">
        <example [code]="simpleExample" title="Basic Daterangepicker">
            <example-simple></example-simple>
        </example>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <example [code]="simpleInlineExample" title="Basic In-line Example">
            <example-simple-inline></example-simple-inline>
        </example>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <example [code]="simpleInlineTimepickerExample" title="Basic In-line Timepicker Example">
            <example-simple-inline-timepicker></example-simple-inline-timepicker>
        </example>
    </div>
</div>
