@import '../../node_modules/@angular/material/theming';

/*
*  variables
*/
$md-drppicker-color: inherit !default;
$md-drppicker-bg-color: #fff !default;

$md-drppicker-cell-color: $md-drppicker-color !default;
$md-drppicker-cell-border-color: transparent !default;
$md-drppicker-cell-bg-color: $md-drppicker-bg-color !default;

$md-drppicker-cell-hover-color: $md-drppicker-color !default;
$md-drppicker-cell-hover-border-color: $md-drppicker-cell-border-color !default;
$md-drppicker-cell-hover-bg-color: #eee !default;

$md-drppicker-in-range-color: #000 !default;
$md-drppicker-in-range-border-color: transparent !default;
$md-drppicker-in-range-bg-color: #dde2e4 !default;

$md-drppicker-active-color: #fff !default;
$md-drppicker-active-bg-color: #3f51b5 !default;
$md-drppicker-active-border-color: transparent !default;

$md-drppicker-unselected-color: #999 !default;
$md-drppicker-unselected-border-color: transparent !default;
$md-drppicker-unselected-bg-color: #fff !default;

$md-drppicker-width: 340px !default;
$md-drppicker-width-double: auto !default;
$md-drppicker-border-color: #ccc !default;

$md-drppicker-calendar-margin: 4px !default;
$md-drppicker-calendar-bg-color: $md-drppicker-bg-color !default;

$md-drppicker-calendar-border-size: 1px !default;
$md-drppicker-calendar-border-color: $md-drppicker-bg-color !default;
$md-drppicker-calendar-border-radius: 4px !default;

$md-drppicker-cell-size: 20px !default;
$md-drppicker-cell-width: $md-drppicker-cell-size !default;
$md-drppicker-cell-height: $md-drppicker-cell-size !default;

$md-drppicker-cell-border-radius: $md-drppicker-calendar-border-radius !default;
$md-drppicker-cell-border-size: 1px !default;

$md-drppicker-control-height: 30px !default;
$md-drppicker-control-line-height: $md-drppicker-control-height !default;
$md-drppicker-control-color: #555 !default;

$md-drppicker-control-border-size: 1px !default;
$md-drppicker-control-border-color: #ccc !default;
$md-drppicker-control-border-radius: 4px !default;

$md-drppicker-control-active-border-size: 1px !default;
$md-drppicker-control-active-border-color: #08c !default;
$md-drppicker-control-active-border-radius: $md-drppicker-control-border-radius !default;

$md-drppicker-control-disabled-color: #ccc !default;

@mixin date-range-picker-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    .md-drppicker {
        background-color: mat-color($background);

        td {
            &.active {
                transition: background 300ms ease-out, border 300ms ease-out;
                background: rgba(0, 0, 0, 0.1);
                &,
                &:hover {
                    background-color: mat-color($primary);
                    border-color: mat-color($primary);
                    color: $md-drppicker-active-color;
                }
            }
        }
    }
}

/*
* styles
*/
.md-drppicker {
    border-radius: 4px;
    width: $md-drppicker-width;
    padding: 4px;
    margin-top: -10px;
    overflow: hidden;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    &.double {
        width: $md-drppicker-width-double;
    }
    &.inline {
        position: relative;
        display: inline-block;
    }

    &:before,
    &:after {
        position: absolute;
        display: inline-block;

        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    &.openscenter {
        &:before {
            left: 0;
            right: 0;
            width: 0;
            margin-left: auto;
            margin-right: auto;
        }

        &:after {
            left: 0;
            right: 0;
            width: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.single {
        .ranges,
        .calendar {
            float: none;
        }
    }

    .calendar {
        /* display: none; */
        max-width: $md-drppicker-width - ($md-drppicker-calendar-margin * 2);
        margin: $md-drppicker-calendar-margin;

        &.single {
            .calendar-table {
                border: none;
            }
        }

        th,
        td {
            padding: 0;
            white-space: nowrap;
            text-align: center;
            min-width: 32px;
            span {
                pointer-events: none;
            }
        }
    }

    .calendar-table {
        border: $md-drppicker-calendar-border-size solid $md-drppicker-calendar-border-color;
        padding: $md-drppicker-calendar-margin;
        border-radius: $md-drppicker-calendar-border-radius;
        background-color: $md-drppicker-calendar-bg-color;
    }

    table {
        width: 100%;
        margin: 0;
    }
    th {
        color: rgba(0, 0, 0, 0.38);
    }
    td,
    th {
        text-align: center;
        width: $md-drppicker-cell-width;
        height: $md-drppicker-cell-height;
        border-radius: $md-drppicker-cell-border-radius;
        border: $md-drppicker-cell-border-size solid $md-drppicker-cell-border-color;
        white-space: nowrap;
        cursor: pointer;
        height: 2em;
        width: 2em;

        &.week {
            font-size: 80%;
            color: #ccc;
        }
    }

    td {
        margin: 0.25em 0;
        opacity: 0.8;
        transition: background-color 0.2s ease;
        border-radius: 2em;
        transform: scale(1);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        &.off {
            &,
            &.in-range,
            &.start-date,
            &.end-date {
                background-color: $md-drppicker-unselected-bg-color;
                border-color: $md-drppicker-unselected-border-color;
                color: $md-drppicker-unselected-color;
            }
        }

        //
        // Date Range
        &.in-range {
            background-color: $md-drppicker-in-range-bg-color;
            border-color: $md-drppicker-in-range-border-color;
            color: $md-drppicker-in-range-color;

            // TODO: Should this be static or should it be parameterized?
            border-radius: 0;
        }

        &.start-date {
            border-radius: 2em 0 0 2em;
        }

        &.end-date {
            border-radius: 0 2em 2em 0;
        }

        &.start-date.end-date {
            border-radius: $md-drppicker-cell-border-radius;
        }
    }

    th {
        &.month {
            width: auto;
        }
    }

    // disabled controls
    td,
    option {
        &.disabled {
            color: #999;
            cursor: not-allowed;
            text-decoration: line-through;
        }
    }

    .dropdowns {
        width: 60px;
    }

    .dropdowns + .dropdowns {
        margin-left: 4px;
    }

    th.month > div {
        position: relative;
        display: inline-block;
    }

    .calendar-time {
        text-align: center;
        margin: 4px auto 0 auto;
        line-height: 30px;
        position: relative;

        .select {
            display: inline;

            mat-select {
                width: 46px;
            }
        }
    }

    .calendar-time select.disabled {
        color: #ccc;
        cursor: not-allowed;
    }

    .label-input {
        border: $md-drppicker-control-border-size solid $md-drppicker-control-border-color;
        border-radius: $md-drppicker-control-border-radius;
        color: $md-drppicker-control-color;
        height: $md-drppicker-control-line-height;
        line-height: $md-drppicker-control-height;
        display: block;
        vertical-align: middle;
        margin: 0 auto 5px auto;
        padding: 0 0 0 28px;
        width: 100%;

        &.active {
            border: $md-drppicker-control-active-border-size solid $md-drppicker-control-active-border-color;
            border-radius: $md-drppicker-control-active-border-radius;
        }
    }

    .md-drppicker_input {
        position: relative;
        padding: 0 30px 0 0;

        i,
        svg {
            position: absolute;
            left: 8px;
            top: 8px;
        }
    }
    &.rtl {
        .label-input {
            padding-right: 28px;
            padding-left: 6px;
        }
        .md-drppicker_input i,
        .md-drppicker_input svg {
            left: auto;
            right: 8px;
        }
    }
    /* ranges */
    .show-ranges {
        .drp-calendar.left {
            border-left: 1px solid #ddd;
        }
    }

    .ranges {
        float: none;
        text-align: left;
        margin: 0;
        ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            width: 100%;
            li {
                font-size: 12px;
                button {
                    padding: 8px 12px;
                    width: 100%;
                    background: none;
                    border: none;
                    text-align: left;
                    cursor: pointer;
                    &.active {
                        background-color: #3f51b5;
                        color: #fff;
                    }
                    &[disabled] {
                        opacity: 0.3;
                    }
                    &:active {
                        background: transparent;
                    }
                }
            }
            li:hover {
                background-color: #eee;
            }
        }
    }

    .show-calendar {
        .ranges {
            margin-top: 8px;
        }
    }

    [hidden] {
        display: none;
    }

    button + button {
        margin-left: 8px;
    }

    .clear-icon {
        font-size: 20px !important;
        color: #eb3232;
    }

    .buttons {
        text-align: right;
        margin: 0 5px 5px 0;
    }
}

@media (min-width: 564px) {
    .md-drppicker {
        width: auto;

        &.single {
            .calendar.left {
                clear: none;
            }
        }

        &.ltr {
            direction: ltr;
            text-align: left;
            .calendar {
                &.left {
                    clear: left;
                    /*margin-right: 1.5em;*/

                    .calendar-table {
                        border-right: none;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                &.right {
                    margin-left: 0;

                    .calendar-table {
                        border-left: none;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }

            .left .md-drppicker_input {
                padding-right: 35px;
            }
            .right .md-drppicker_input {
                padding-right: 35px;
            }

            .calendar.left .calendar-table {
                padding-right: 12px;
            }

            .ranges,
            .calendar {
                float: left;
            }
        }
        &.rtl {
            direction: rtl;
            text-align: right;
            .calendar {
                &.left {
                    clear: right;
                    margin-left: 0;

                    .calendar-table {
                        border-left: none;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                &.right {
                    margin-right: 0;

                    .calendar-table {
                        border-right: none;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }

            .left .md-drppicker_input {
                padding-left: 12px;
            }

            .calendar.left .calendar-table {
                padding-left: 12px;
            }

            .ranges,
            .calendar {
                text-align: right;
                float: right;
            }
        }
    }
    .drp-animate {
        transform: translate(0);
        transition: transform 0.2s ease, opacity 0.2s ease;

        &.drp-picker-site-this {
            transition-timing-function: linear;
        }

        &.drp-animate-right {
            transform: translateX(10%);
            opacity: 0;
        }

        &.drp-animate-left {
            transform: translateX(-10%);
            opacity: 0;
        }
    }
}

@media (min-width: 730px) {
    .md-drppicker {
        .ranges {
            width: auto;
        }
        &.ltr {
            .ranges {
                float: left;
            }
        }
        &.rtl {
            .ranges {
                float: right;
            }
        }

        .calendar.left {
            clear: none !important;
        }
    }
}
