.docs-theme-picker-menu {
    .mat-menu-item {
        .mat-icon.theme-example-icon {
            margin-right: 0;
            margin-left: 8px;
            float: right;

            svg {
                vertical-align: middle;
            }

            // The below colors need to align with the themes defined in ThemePicker
            &.deeppurple-amber svg {
                .docs-theme-icon-background {
                    fill: #fafafa;
                }
                .docs-theme-icon-button {
                    fill: #ffc107;
                }
                .docs-theme-icon-toolbar {
                    fill: #673ab7;
                }
            }

            &.indigo-pink svg {
                .docs-theme-icon-background {
                    fill: #fafafa;
                }
                .docs-theme-icon-button {
                    fill: #e91e63;
                }
                .docs-theme-icon-toolbar {
                    fill: #3f51b5;
                }
            }

            &.pink-bluegrey svg {
                .docs-theme-icon-background {
                    fill: #303030;
                }
                .docs-theme-icon-button {
                    fill: #607d8b;
                }
                .docs-theme-icon-toolbar {
                    fill: #e91e63;
                }
            }

            &.purple-green svg {
                .docs-theme-icon-background {
                    fill: #303030;
                }
                .docs-theme-icon-button {
                    fill: #4caf50;
                }
                .docs-theme-icon-toolbar {
                    fill: #9c27b0;
                }
            }
        }
    }
}
