<mat-toolbar>Custom ranges</mat-toolbar>

<div class="row">
  <div class="col s6">
    <input type="text"
    ngxDaterangepickerMd
    [(ngModel)]="selected" 
    [showCustomRangeLabel]="true"
    [alwaysShowCalendars]="alwaysShowCalendars"
    [ranges]="ranges"
    [showClearButton]="true"
    [maxDate]="maxDate"
    [linkedCalendars]="true"
    class="form-control"
    placeholder="Select please..."/>
  </div>
  <div class="col s6">
    <br/>
    <strong>Model: </strong>
    <br/> {{selected | json  }}
    <br>
    <label>
        <input type="checkbox" name="alwaysShowCalendars" [(ngModel)]="alwaysShowCalendars"> 
        <span>alwaysShowCalendars: {{alwaysShowCalendars}}</span>
      </label>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <b>Html code</b>
      <pre class="prettyprint"><code class="html">&lt;input type="text"
  ngxDaterangepickerMd
  [(ngModel)]="selected"
  [showCustomRangeLabel]="true"
  [alwaysShowCalendars]="{{alwaysShowCalendars}}"
  [ranges]="ranges"
  [linkedCalendars]="true"
  [showClearButton]="true"
  placeholder="Select please.../&gt;</code>
    </pre>
    
  </div>
  <div class="col s6">
    <b>Typescript code</b>
      <pre class="prettyprint"><code class="javascript">export class CustomRangesComponent implements OnInit {{ '{' }}
selected: any;
alwaysShowCalendars: boolean;
ranges: any = {{ '{' }}
  'Today': [moment(), moment()],
  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
  'This Month': [moment().startOf('month'), moment().endOf('month')],
  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
}
constructor() {{ '{' }}
  this.alwaysShowCalendars = true;
}</code>
    </pre>
    
  </div>
</div>

