<mat-toolbar>Custom ranges</mat-toolbar>

<div class="row">
  <div class="col s6">
    <input type="text"
    ngxDaterangepickerMd
    [(ngModel)]="selected"
    [showCustomRangeLabel]="true"
    [alwaysShowCalendars]="alwaysShowCalendars"
    [ranges]="ranges"
    [showClearButton]="true"
    [showCancel]="true"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [linkedCalendars]="true"
    [isInvalidDate] = "isInvalidDate"
    [locale]="{applyLabel: 'Done'}"
    (rangeClicked)="rangeClicked($event)"
    (datesUpdated)="datesUpdated($event)"
    [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
    [showRangeLabelOnInput]="showRangeLabelOnInput"
    class="form-control"
    placeholder="Select please..."/>
  </div>
  <div class="col s6">
    <br/>
    <strong>Model: </strong>
    <br/> {{selected | json  }}
    <br>
    <label>
        <input type="checkbox" name="alwaysShowCalendars" [(ngModel)]="alwaysShowCalendars">
        <span>alwaysShowCalendars: {{alwaysShowCalendars}}</span>
      </label>
      <br>
      <label>
          <input type="checkbox" name="keepCalendarOpeningWithRange" [(ngModel)]="keepCalendarOpeningWithRange">
          <span>keepCalendarOpeningWithRange: {{keepCalendarOpeningWithRange}}</span>
      </label>
      <br>
      <label>
          <input type="checkbox" name="showRangeLabelOnInput" [(ngModel)]="showRangeLabelOnInput">
          <span>showRangeLabelOnInput: {{showRangeLabelOnInput}}</span>
        </label>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <b>Html code</b>
      <pre class="prettyprint"><code class="html">&lt;input type="text"
  ngxDaterangepickerMd
  [(ngModel)]="selected"
  [showCustomRangeLabel]="true"
  [alwaysShowCalendars]="{{alwaysShowCalendars}}"
  [ranges]="ranges"
  [linkedCalendars]="true"
  [isInvalidDate] = "isInvalidDate"
  [showClearButton]="true"

  placeholder="Select please.../&gt;</code>
    </pre>

  </div>
  <div class="col s6">
    <b>Typescript code</b>
      <pre class="prettyprint"><code class="javascript">export class CustomRangesComponent implements OnInit {{ '{' }}
selected: any;
alwaysShowCalendars: boolean;
ranges: any = {{ '{' }}
  'Today': [moment(), moment()],
  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
  'This Month': [moment().startOf('month'), moment().endOf('month')],
  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
}
invalidDates: moment.Moment[] = [moment().add(2, 'days'), moment().add(3, 'days'), moment().add(5, 'days')];

isInvalidDate = (m: moment.Moment) =>  {{'{'}}
  return this.invalidDates.some(d => d.isSame(m, 'day') )
}

constructor() {{ '{' }}
  this.alwaysShowCalendars = true;
}</code>
    </pre>

  </div>
</div>

