<div class="row">
    <div class="col s12">
        <example [code]="reactiveFormMultiSelectExample" title="Reactive Form Multi Select">
            <example-reactive-form-multi-select></example-reactive-form-multi-select>
        </example>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <example [code]="reactiveFormSingleSelectExample" title="Reactive Form Single Select">
            <example-reactive-form-single-select></example-reactive-form-single-select>
        </example>
    </div>
</div>
