<mat-toolbar>Reactive forms</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col s12">
      <h6>Multi Select</h6>
    </div>
    <div class="col s6">
        <input type="text" ngxDaterangepickerMd
        formControlName="selected" class="form-control" placeholder="Choose date"
        [showDropdowns]="true"
        showCancel="true"
        />
    </div>
    <div class="col s6">
      <br/>
      <button type="button" 
      class="ngx-daterangepicker-action waves-effect waves-light btn"
      [ngClass]="{'red': !form.disabled, 'green': form.disabled}"
      (click)="toggleDisable(form)">
          {{form.disabled ? 'Enable' : 'Disable'}}
      </button>
      &nbsp;
      <button type="submit" class="ngx-daterangepicker-action waves-effect waves-light btn" >Submit</button>
      &nbsp;
    </div>
  </div>
</form>

<form [formGroup]="form2" (ngSubmit)="submit2()">
  <div class="row">
    <div class="col s12">
      <h6>Single Select</h6>
    </div>
    <div class="col s6">
        <input type="text" ngxDaterangepickerMd
        formControlName="selected" class="form-control" placeholder="Choose date"
        [showDropdowns]="true"
        [singleDatePicker]="true"
        [locale]="locale"
        showCancel="true"
        />
    </div>
    <div class="col s6">
      <br/>
      <button type="submit" class="ngx-daterangepicker-action waves-effect waves-light btn" >Submit</button>
    </div>
  </div>
</form>

