<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['simple']">Simple</a></li>
      <li routerLinkActive="active"><a [routerLink]="['single-datepicker']">Single datepicker</a></li>
      <li routerLinkActive="active"><a [routerLink]="['custom-ranges']">Custom ranges</a></li>
      <li routerLinkActive="active"><a [routerLink]="['full']">Full options</a></li>
    </ul>


    <a href="//github.com/fetrarij/ngx-daterangepicker-material" >
        <img src="assets/images/github.png" style="width: 50px; margin-top: 8px;">
    </a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>