<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
  <a href="//github.com/fetrarij/ngx-daterangepicker-material" class="brand-logo">
    <img src="assets/images/github.png" style="width: 30px">
  </a>
    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['simple']">Simple</a></li>
      <li routerLinkActive="active"><a [routerLink]="['single-datepicker']">Single datepicker</a></li>
      <li routerLinkActive="active"><a [routerLink]="['custom-ranges']">Custom ranges</a></li>
      <li routerLinkActive="active"><a [routerLink]="['full']">Full options</a></li>
    </ul>


    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
      <li><a href="//github.com/fetrarij/ngx-daterangepicker-material">Github</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>