@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../node_modules/materialize-css/sass/materialize.scss';
.mycustomdate {
    background-color: #ccc8c8 !important;
    border-radius: 1px !important;
    color: white !important;
}
.first-day {
    background-color: greenyellow;
}
.last-day {
    background-color: green;
}
.empty-week {
    background-color: rosybrown;
}
.last-previous-day {
    background-color: rgb(218, 226, 145);
}
.first-next-day {
    background-color: rgb(229, 255, 0);
}
