<mat-toolbar>Single datepicker with custom invalid date & custom class on date / with french language</mat-toolbar>
<div class="row">
  <div class="col s6">
    <input type="text"
    ngxDaterangepickerMd
    [isInvalidDate]="isInvalidDate"
    [isCustomDate]="isCustomDate"
    [locale]="locale"
    [(ngModel)]="selected" [singleDatePicker]="true" [autoApply]="true" class="form-control"/>
  </div>
</div>


<div class="row">
  <div class="col s6">
    <b>Html code:</b>
      <pre class="prettyprint"><code class="html">&lt;input type="text"
  ngxDaterangepickerMd
  [isInvalidDate]="isInvalidDate"
  [isCustomDate]="isCustomDate"
  [locale]="locale"
  [(ngModel)]="selected"
  [singleDatePicker]="true"
  [autoApply]="true"/&gt;</code>
    </pre>
    
  </div>
  <div class="col s6">
    <b>Typescript code:</b>
      <pre class="prettyprint"><code class="javascript">
import * as moment from 'moment';
import * as localization from 'moment/locale/fr';
moment.locale('fr', localization);
...
export class SingleDatepickerComponent {{ '{' }}
  selected: any;
  locale: LocaleConfig = {{ '{' }}
    applyLabel: 'Appliquer',
    customRangeLabel: ' - ',
    daysOfWeek: moment.weekdaysMin(),
    monthNames: moment.monthsShort(),
    firstDay: moment.localeData().firstDayOfWeek(),
  }
  constructor() {{ '{' }}
    this.alwaysShowCalendars = true;
  }
  isInvalidDate(date) {{ '{' }}
    return date.weekday() === 0;
  }
  isCustomDate(date) {{ '{' }}
    return  (
      date.weekday() === 0 ||
      date.weekday() === 6
    )  ? 'mycustomdate' : false;
  }
}</code>
    </pre>
    
  </div>
</div>
